.chat-box {
    height: 300px; /* Tu peux ajuster cette hauteur selon tes besoins */
    overflow-y: auto; /* Pour activer le défilement si le contenu dépasse la hauteur */
  }
  
  .input-gray {
    background-color: #333;
    color: white;
  }
  