@import "bootstrap/scss/bootstrap";


$primary-color: #6f42c1; // Violet
$background-color: #1a1a1a; // Noir
$text-color: #e0e0e0; // Gris clair
$border-color: #333; // Bordure gris foncé
$input-background-color: #2c2c2c; // Fond des inputs

body {
    background-color: $background-color;
    color: $text-color;
}

.container-fluid {
    padding: 0;
}

h1, h2, h3, h4 {
    color: $text-color;
}

.text-end {
    margin-bottom: 1rem;
}

.user-name {
    color: white; // Couleur des pseudos
}

.left-panel, .chat-panel, .group-management, .group-chat {
    padding: 20px;
    height: 50vh; // Hauteur de la partie haute
    overflow-y: auto; // Défilement vertical si nécessaire
}

.lower-panel {
    height: 50vh; // Hauteur de la partie basse
}

.chat-box {
    height: 200px; // Hauteur fixe pour la zone de chat
    overflow-y: auto; // Défilement vertical
    background-color: #2c2c2c; // Arrière-plan pour les messages
    border: 1px solid $border-color; // Bordure
    border-radius: 5px; // Coins arrondis
    margin-bottom: 20px; // Espace entre les éléments
    padding: 10px; // Espacement interne
}

.list-group-item {
    background-color: #1f1f1f; // Fond gris pour les éléments de la liste
    border: 1px solid $border-color; // Bordure
    border-radius: 5px; // Coins arrondis
}

.input-gray {
    background-color: $input-background-color; // Fond gris pour les inputs
    color: $text-color; // Couleur du texte des inputs
}

.btn-primary {
    background-color: $primary-color; // Couleur de fond des boutons primaires
    border: none; // Pas de bordure
    &:hover {
        background-color: darken($primary-color, 10%); // Couleur plus sombre au survol
    }
}

.btn-success {
    background-color: #28a745; // Couleur verte pour les boutons d'envoi
    border: none;
    &:hover {
        background-color: darken(#28a745, 10%); // Couleur plus sombre au survol
    }
}

.btn-danger {
    background-color: #dc3545; // Couleur rouge pour les boutons de suppression
    border: none;
    &:hover {
        background-color: darken(#dc3545, 10%); // Couleur plus sombre au survol
    }
}
